[submodule "lib/Adafruit_ILI9341"]
	path = lib/Adafruit_ILI9341
	url = https://github.com/adafruit/Adafruit_ILI9341.git
[submodule "lib/Adafruit-GFX"]
	path = lib/Adafruit-GFX
	url = https://github.com/adafruit/Adafruit-GFX-LIbrary.git
[submodule "lib/cc1101"]
	path = lib/cc1101
	url = https://github.com/veonik/arduino-cc1101.git
[submodule "lib/synack"]
	path = lib/synack
	url = https://github.com/veonik/arduino-synack.git
